body,p,ul,ol,li,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,input{
    margin:0;
    padding:0;
    list-style:none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #0f2b3f;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.page-wrap {
    width: 100%;
    height: 100%;
}
.page {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    overflow:hidden;
    color: #fff;
    -webkit-user-select: none;
    user-select: none;
    position:relative;
}
.arrow{
    position: absolute;
    left: 50%;
    bottom: 0.25rem;
    width: 0.66rem;
    height: 0.36rem;
    margin-left: -0.33rem;
    background: url(../img/arrow.png?__inline) no-repeat;
    background-size: 100% 100%;
    opacity: 0;
    z-index: 1122299992;
}
.arrow {
	animation: swipeMoveTop 1.5s 0.1s ease infinite;
    -webkit-animation: swipeMoveTop 1.5s 0.1s ease infinite;
	-moz-animation: swipeMoveTop 1.5s 0.1s ease infinite;
	-o-animation: swipeMoveTop 1.5s 0.1s ease infinite;
	-ms-animation: swipeMoveTop 1.5s 0.1s ease infinite;
}

/*上滑提示*/
@-webkit-keyframes swipeMoveTop {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
        -moz-transform: translate3d(0, 20px, 0);
        -ms-transform: translate3d(0, 20px, 0);
        -o-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }
    70% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        -moz-transform: translate3d(0, -20px, 0);
        -ms-transform: translate3d(0, -20px, 0);
        -o-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
}
@-moz-keyframes swipeMoveTop {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
        -moz-transform: translate3d(0, 20px, 0);
        -ms-transform: translate3d(0, 20px, 0);
        -o-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }
    70% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        -moz-transform: translate3d(0, -20px, 0);
        -ms-transform: translate3d(0, -20px, 0);
        -o-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
}
@-ms-keyframes swipeMoveTop {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
        -moz-transform: translate3d(0, 20px, 0);
        -ms-transform: translate3d(0, 20px, 0);
        -o-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }
    70% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        -moz-transform: translate3d(0, -20px, 0);
        -ms-transform: translate3d(0, -20px, 0);
        -o-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
}
@-o-keyframes swipeMoveTop {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
        -moz-transform: translate3d(0, 20px, 0);
        -ms-transform: translate3d(0, 20px, 0);
        -o-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }
    70% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        -moz-transform: translate3d(0, -20px, 0);
        -ms-transform: translate3d(0, -20px, 0);
        -o-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
}
@keyframes swipeMoveTop {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
        -moz-transform: translate3d(0, 20px, 0);
        -ms-transform: translate3d(0, 20px, 0);
        -o-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }
    70% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        -moz-transform: translate3d(0, -20px, 0);
        -ms-transform: translate3d(0, -20px, 0);
        -o-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
}

/* 标识 */
.indicator{
    display: none;
    position: absolute;
    right: 0.1rem;
    top: 50%;
    margin-top: -0.37rem;
}
.indicator li{
    margin-top: 0.05rem;
    width: 0.15rem;
    height: 0.15rem;
    border-radius: 1.0rem;
    background: #1d2831;
    text-indent: -9999px;
    list-style: none;
}
.indicator li.cur{
    background: #a9afb4;
}

/* -----------------loading页面------------------ */
.top-empt-loading{
    height:1.53rem;
}
.page-loading{
    background:url(../img/page-loading-bg.png?__inline) no-repeat left top;
    background-size:100% 100%;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    overflow:hidden;
    color: #fff;
    -webkit-user-select: none;
    user-select: none;
    position:relative;
}
.page-loading .page-loading-title{
    width:3.0rem;
    height:1.02rem;
    margin:0 auto;
    background:url(../img/page-loading-title.png?__inline) no-repeat left top;
    background-size:100% 100%;
}
.page-loading .page-loading-wendu{
    width:5.95rem;
    height:0.51rem;
    margin:0.78rem auto 0;
    background:url(../img/page-loading-wendu.png?__inline) no-repeat left top;
    background-size:100% 100%;
}
.page-loading .page-loading-jindubg{
    width:5.92rem;
    height:0.31rem;
    margin:2.65rem auto 0;
    background:url(../img/page-loading-jindubg.png?__inline) no-repeat left top;
    background-size:100% 100%;
    position:relative;
}
.page-loading .page-loading-jindubg .page-redloading-wrap{
    position:absolute;
    left:0.2rem;
    width:5.5rem;
    height:0.1rem;
    top:50%;
    margin-top:-0.05rem;
    border-radius:20px;
    z-index:2;
}
.page-loading .page-loading-jindubg .page-redloading-wrap .page-redloading{
    position:absolute;
    background:#e84141;
    z-index:3;
    width:0;
    height:100%;
    left:0;
    border-radius:20px;
}
.page-loading .loading-title{
    text-align:center;
    color:#aaaaaa;
    font-size:0.25rem;
    font-family:"微软雅黑";
    margin-top:0.3rem;
}
/* ------------------------第四页---------------------- */
.top-empt{
    height:0.85rem;
}
.top-empt4-1{
    height:0.68rem;
}
.top-empt4-2{
    height:0.5rem;
}
.top-empt5-1{
    height:0.10rem;
}
.top-empt5-2{
    height:1.78rem;
}
.top-empt6-1{
    height:0.4rem;
}
.top-empt6-2{
    height:0.56rem;
}
.top-empt6{
    height:0.62rem;
}
.weixin-empty1{
    height:0.20rem;
}
.weixin-empty2{
    height:0.76rem;
}
.page4{
    background:url(../img/page4-bg.png?__inline) no-repeat left top;
    background-size:100% 100%;
}
.page-title{
    width:2.1rem;
    height:1.08rem;
    margin:0 auto;
    opacity:1;
}
.page4 .page4-title{
    background:url(../img/page4-title.png?__inline) no-repeat left bottom;
    background-size:100% 100%;
}
.page4 .page4-content{
    width:6.33rem;
    margin:0 auto;
}
.page4 .page4-content li{
    height:1.0rem;
    margin-bottom: 0.52rem;
    opacity:0;
}
.page4 .page4-content li:nth-child(1){
    background:url(../img/page4-content1.png?__inline) no-repeat left top;
    width:4.8rem;
    background-size:100% 100%;
    position:relative;
}
.page4 .page4-content li:nth-child(2){
    background:url(../img/page4-content2.png?__inline) no-repeat left top;
    width:6.23rem;
    background-size:100% 100%;
}
.page4 .page4-content li:nth-child(3){
    background:url(../img/page4-content3-new.png?__inline) no-repeat left top;
    width:5.40rem;
    background-size:100% 100%;
}
.page4 .page4-content li:nth-child(4){
    background:url(../img/page4-content4.png?__inline) no-repeat left top;
    width:5.38rem;
    background-size:100% 100%;
}
.page4 .page4-content li:nth-child(5){
    background:url(../img/page4-content5.png?__inline) no-repeat left top;
    width:5.09rem;
    background-size:100% 100%;
}

.current .page4-content li:nth-child(1){
    animation:bounceInLeft 1.2s 0.1s ease both;
    -webkit-animation:bounceInLeft 1.2s 0.1s ease both;
    -moz-animation:bounceInLeft 1.2s 0.1s ease both;
    -o-animation:bounceInLeft 1.2s 0.1s ease both;
    -ms-animation:bounceInLeft 1.2s 0.1s ease both;
}
.current .page4-content li:nth-child(2){
    animation:bounceInRight 1.2s 0.6s both;
    -webkit-animation:bounceInRight 1.2s 0.6s both;
    -moz-animation:bounceInRight 1.2s 0.6s both;
    -o-animation:bounceInRight 1.2s 0.6s both;
    -ms-animation:bounceInRight 1.2s 0.6s both;
}
.current .page4-content li:nth-child(3){
    animation:bounceInLeft 1.2s 1.1s both;
    -webkit-animation:bounceInLeft 1.2s 1.1s both;
    -moz-animation:bounceInLeft 1.2s 1.1s both;
    -o-animation:bounceInLeft 1.2s 1.1s both;
    -ms-animation:bounceInLeft 1.2s 1.1s both;
}
.current .page4-content li:nth-child(4){
    animation:bounceInRight 1.2s 1.6s both;
    -webkit-animation:bounceInRight 1.2s 1.6s both;
    -moz-animation:bounceInRight 1.2s 1.6s both;
    -o-animation:bounceInRight 1.2s 1.6s both;
    -ms-animation:bounceInRight 1.2s 1.6s both;
}
.current .page4-content li:nth-child(5){
    animation:bounceInLeft 1.2s 2.1s both;
    -webkit-animation:bounceInLeft 1.2s 2.1s both;
    -moz-animation:bounceInLeft 1.2s 2.1s both;
    -o-animation:bounceInLeft 1.2s 2.1s both;
    -ms-animation:bounceInLeft 1.2s 2.1s both;
}
/* -----------------------第五页---------------------------- */
.page5{
    background:url(../img/page5-bg.png?__inline) no-repeat left top;
    background-size:100% 100%;
}
.page5 .page5-title{
    background:url(../img/page5-title.png?__inline) no-repeat left bottom;
    background-size:100% 100%;
}
.page5 .page5-content{
    width:5.59rem;
    height:5.59rem;
    margin:0 auto;
    background:url(../img/page5-center.png?__inline) no-repeat left bottom;
    background-size:100% 100%;
    position:relative;
}
.page5 .page5-content .page5-center-br{
    background:url(../img/page5-center-br.png?__inline) no-repeat left bottom;
    background-size:100% 100%;
    position:absolute;
    bottom:-0.02rem;
    right:-0.02rem;
    width:5.60rem;
    height:5.60rem;
    animation:clockwise 3s 0s linear infinite;
    -webkit-animation:clockwise 3s 0s linear infinite;
    -moz-animation:clockwise 3s 0s linear infinite;
    -o-animation:clockwise 3s 0s linear infinite;
    -ms-animation:clockwise 3s 0s linear infinite;
}
.page5 .page5-content .page5-center-s{
    background:url(../img/page5-center-s.png?__inline) no-repeat left bottom;
    background-size:100% 100%;
    position:absolute;
    top:0.86rem;
    left:0.86rem;
    width:1.93rem;
    height:3.85rem;
    -webkit-transform-origin:100% 50%;
    transform-origin:100% 50%;
    animation:clockwise 3s 0s linear infinite;
    -webkit-animation:clockwise 3s 0s linear infinite;
    -moz-animation:clockwise 3s 0s linear infinite;
    -o-animation:clockwise 3s 0s linear infinite;
    -ms-animation:clockwise 3s 0s linear infinite;
}
.page5 .page5-content .page5-center-b{
    background:url(../img/page5-center-b.png?__inline) no-repeat left bottom;
    background-size:100% 100%;
    position:absolute;
    bottom:0.88rem;
    left:0.88rem;
    width:3.83rem;
    height:1.92rem;
    -webkit-transform-origin:50% 0;
    transform-origin:50% 0;
    animation:eastern 3s 0s linear infinite;
    -webkit-animation:eastern 3s 0s linear infinite;
    -moz-animation:eastern 3s 0s linear infinite;
    -o-animation:eastern 3s 0s linear infinite;
    -ms-animation:eastern 3s 0s linear infinite;
}
.page5 .page5-content .page5-content1{
    background:url(../img/page5-content1.png?__inline) no-repeat left bottom;
    background-size:100% 100%;
    width:1.3rem;
    height:2.545rem;
    position:absolute;
    top:-7.40rem;
    left:0.3rem;
}
.page5 .page5-content .page5-content2{
    position:absolute;
    top:-7.40rem;
    right:-0.24rem;
    width:2.08rem;
    height:2.54rem;
    background:url(../img/page5-content2.png?__inline) no-repeat left bottom;
    background-size:100% 100%;
}
.page5 .page5-content .page5-content3{
    position:absolute;
    bottom:-7.66rem;
    left:0.07rem;
    width:1.82rem;
    height:2.54rem;
    background:url(../img/page5-content3.png?__inline) no-repeat left bottom;
    background-size:100% 100%;
}
.page5 .page5-content .page5-content4{
    position:absolute;
    bottom:-7.66rem;
    right:-0.38rem;
    width:1.82rem;
    height:2.54rem;
    background:url(../img/page5-content4.png?__inline) no-repeat left bottom;
    background-size:100% 100%;
}
.current .slide-In-Down1{
    animation:slideInDown1 0.5s 0.1s linear both;
    -webkit-animation:slideInDown1 0.5s 0.1s linear both;
}
.current .slide-In-Down2{
    animation:slideInDown2 0.5s 0.5s linear both;
    -webkit-animation:slideInDown2 0.5s 0.5s linear both;
}
.current .slide-In-Down3{
    animation:slideInDown3 0.5s 0.9s linear both;
    -webkit-animation:slideInDown3 0.5s 0.9s linear both;
}
.current .slide-In-Down4{
    animation:slideInDown4 0.5s 1.4s linear both;
    -webkit-animation:slideInDown4 0.5s 1.4s linear both;
}
/* -------------------------第六页---------------------------- */
 .page6{
    background:url(../img/page6-bg.png?__inline) no-repeat left top;
    background-size:100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/page6-bg.png', sizingMethod='scale');
} 
 .page6 .page6-title{
    background:url(../img/page6-title.png?__inline) no-repeat left bottom;
    background-size:100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/page6-title.png', sizingMethod='scale');
}
/*------------------------------动画---------------------------- */
@-webkit-keyframes page-title {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes page-title {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-ms-keyframes page-title {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-o-keyframes page-title {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@keyframes page-title {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

/* // page5 */
/* 顺时针 */
@keyframes clockwise{
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
@-webkit-keyframes clockwise{
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
@-moz-keyframes clockwise{
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
@-ms-keyframes clockwise{
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
@-o-keyframes clockwise{
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}
/* 逆时针 */
@keyframes eastern{
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(-360deg);
        transform:rotate(-360deg);
    }
}
@-webkit-keyframes eastern{
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(-360deg);
        transform:rotate(-360deg);
    }
}
@-moz-keyframes eastern{
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(-360deg);
        transform:rotate(-360deg);
    }
}
@-ms-keyframes eastern{
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(-360deg);
    }
}
@-o-keyframes eastern{
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(-360deg);
        transform:rotate(-360deg);
    }
}

/* 项目可靠 */
@-webkit-keyframes slideInDown1 {
  0% {
    opacity:1;
    top:-7.3rem;
  }
  100% {
    opacity:1;
    top:-1.20rem;
  }
}

@keyframes slideInDown1 {
   0% {
    opacity:1;
    top:-7.3rem;
  }
  100% {
    opacity:1;
    top:-1.20rem;
  }
}
@-ms-keyframes slideInDown1 {
   0% {
    opacity:1;
    top:-7.3rem;
  }
  100% {
    opacity:1;
    top:-1.20rem;
  }
}
@-moz-keyframes slideInDown1 {
   0% {
    opacity:1;
    top:-7.3rem;
  }
  100% {
    opacity:1;
    top:-1.20rem;
  }
}
@-o-keyframes slideInDown1 {
   0% {
    opacity:1;
    top:-7.3rem;
  }
  100% {
    opacity:1;
    top:-1.20rem;
  }
}


/* 资金安全 */
@-webkit-keyframes slideInDown2 {
  0% {
    opacity:1;
    top:-7.4rem;
  }
  100% {
    opacity:1;
    top:-1.40rem;
  }
}

@keyframes slideInDown2 {
   0% {
    opacity:1;
    top:-7.4rem;
  }
  100% {
    opacity:1;
    top:-1.40rem;
  }
}
@-ms-keyframes slideInDown2 {
   0% {
    opacity:1;
    top:-7.4rem;
  }
  100% {
    opacity:1;
    top:-1.40rem;
  }
}
@-moz-keyframes slideInDown2 {
   0% {
    opacity:1;
    top:-7.4rem;
  }
  100% {
    opacity:1;
    top:-1.40rem;
  }
}
@-o-keyframes slideInDown2 {
   0% {
    opacity:1;
    top:-7.4rem;
  }
  100% {
    opacity:1;
    top:-1.40rem;
  }
}

/* 回款保障 */
@-webkit-keyframes slideInDown3 {
    0% {
        opacity:0;
        bottom:-5.66rem;
    }
    20% {
        opacity:1;
    }
    100% {
       opacity:1;
       bottom:-1.18rem;
    }
}

@keyframes slideInDown3 {
    0% {
        opacity:0;
        bottom:-5.66rem;
    }
    20% {
        opacity:1;
    }
    100% {
        opacity:1;
        bottom:-1.18rem;
    }
}
@-ms-keyframes slideInDown3 {
    0% {
        opacity:0;
        bottom:-5.66rem;
    }
    20% {
        opacity:1;
    }
    100% {
        opacity:1;
        bottom:-1.18rem;
    }
}
@-moz-keyframes slideInDown3 {
    0% {
        opacity:0;
        bottom:-5.66rem;
    }
    20% {
        opacity:1;
    }
    100% {
        opacity:1;
        bottom:-1.18rem;
    }
}
@-o-keyframes slideInDown3{
    0% {
        opacity:0;
        bottom:-5.66rem;
    }
    20% {
        opacity:1;
    }
    100% {
        opacity:1;
        bottom:-1.18rem;
    }
}
/* 数据安全 */
@-webkit-keyframes slideInDown4 {
    0% {
        opacity:0;
        bottom:-5.66rem;
    }
    20% {
        opacity:1;
    }
    100% {
        opacity:1;
        bottom:-0.87rem;
    }
}

@keyframes slideInDown4 {
    0% {
        opacity:0;
        bottom:-5.66rem;
    }
    20% {
        opacity:1;
    }
    100% {
        opacity:1;
        bottom:-0.87rem;
    }
}
@-ms-keyframes slideInDown4 {
    0% {
        opacity:0;
        bottom:-5.66rem;
    }
    20% {
        opacity:1;
    }
    100% {
        opacity:1;
        bottom:-0.87rem;
    }
}
@-moz-keyframes slideInDown4 {
    0% {
        opacity:0;
        bottom:-5.66rem;
    }
    20% {
        opacity:1;
    }
    100% {
        opacity:1;
        bottom:-0.87rem;
    }
}
@-o-keyframes slideInDown4 {
    0% {
        opacity:0;
        bottom:-5.66rem;
    }
    20% {
        opacity:1;
    }
    100% {
        opacity:1;
        bottom:-0.87rem;
    }
}

/* // page6 */
/* 立即理财的晃动 */
@keyframes invite {
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    80%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    88%{
        -webkit-transform:rotate(-4deg);
        transform:rotate(-4deg);
    }
    95% {
        -webkit-transform:rotate(4deg);
        transform:rotate(4deg);
    }
    100%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
}
@-webkit-keyframes invite {
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    80%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    88%{
        -webkit-transform:rotate(-4deg);
        transform:rotate(-4deg);
    }
    95% {
        -webkit-transform:rotate(4deg);
        transform:rotate(4deg);
    }
    100%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
}
@-moz-keyframes invite {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    80% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    88% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
    95% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@-ms-keyframes invite {
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    80%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    88%{
        -webkit-transform:rotate(-4deg);
        transform:rotate(-4deg);
    }
    95% {
        -webkit-transform:rotate(4deg);
        transform:rotate(4deg);
    }
    100%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
}
@-o-keyframes invite {
    0% {
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    80%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    88%{
        -webkit-transform:rotate(-4deg);
        transform:rotate(-4deg);
    }
    95% {
        -webkit-transform:rotate(4deg);
        transform:rotate(4deg);
    }
    100%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
}

/* ---------------------------第一页开始------------------------------------------ */

/*  .page1  */
.page1 {
    width: 100%;
    height: 100%;
    background: url("../img/first-bg.png?__inline");
    background-size: 100% 100%;
    overflow: hidden;
}
.page2 {
    width: 100%;
    height: 100%;
    background: url("../img/page2-bg.png?__inline");
    background-size: 100% 100%;
    overflow: hidden;
}
.page3 {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    background: url("../img/page3-bg.png?__inline");
    background-size: 100% 100%;
    overflow: hidden;
}
.page1 .star {
    position: relative;
    top:-1.5%;
    width:100%;
    z-index: 2;
    opacity:0;
}
.current .star {
    -webkit-animation: slideToOpacity 1.3s ease-in-out both,slideInDown 1.3s ease-in-out both;
    -moz-animation: slideToOpacity 1.3s ease-in-out both,slideInDown 1.3s ease-in-out both;
    -o-animation: slideToOpacity 1.3s ease-in-out both,slideInDown 1.3s ease-in-out both;
    animation: slideToOpacity 1.3s ease-in-out both,slideInDown 1.3s ease-in-out both;
}
.page1 .star img {
    width: 100%;
}
.page1 .star .star-dot {
    position: absolute;
    top:-1.05%;
    left:0;
    z-index: 4;
}
.current .star .star-dot {
    -webkit-animation: light 3s 1.3s infinite;
    -moz-animation: light 3s 1.3s infinite;
    -o-animation: light 3s 1.3s infinite;
    animation: light 3s 1.3s infinite;
}
.page1 .title {
     position: relative;
     top: -9.5%;
     opacity: 0;
 }

.current .page1-title {
    -webkit-animation: slideToOpacity 1.3s 1.2s ease-in-out both, pulse 1.3s 1.2s ease-in-out both;
    -moz-animation: slideToOpacity 1.3s 1.2s ease-in-out both, pulse 1.3s 1.2s ease-in-out both;
    -o-animation: slideToOpacity 1.3s 1.2s ease-in-out both, pulse 1.3s 1.2s ease-in-out both;
    animation: slideToOpacity 1.3s 1.2s ease-in-out both, pulse 1.3s 1.2s ease-in-out both;
}
.page1 .title img {
    width: 100%;
}
.page1 .title-h2 {
    position: relative;
    top: -6%;
    text-align: center;
    opacity:0;
}
.current .title-h2 {
    -webkit-animation: slideToOpacity 1.15s 2.2s ease both;
    -moz-animation: slideToOpacity 1.15s 2.2s ease both;
    -o-animation: slideToOpacity 1.15s 2.2s ease both;
    animation: slideToOpacity 1.15s 2.2s ease both;
}
.page1 .title-h2 span  {
    margin: 0 auto;
    padding: 5px;
    /*font-size: 12px;*/
    font-size: .3rem;
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.page1 .hexagon {
    position: relative;
    top: -3%;
    margin: 0 auto;
    text-align: center;
    height:5.01rem;
    opacity:0;
}
.current .hexagon {
    -webkit-animation: imgToScale 1.15s 2.2s  ease both;
    -moz-animation: imgToScale 1.15s 2.2s  ease both;
    -o-animation: imgToScale 1.15s 2.2s  ease both;
    animation: imgToScale 1.15s 2.2s  ease both;
}
.page1 .hexagon img {
    margin: 0 auto;
    width: 64%;
}
.page1 .hexagon .hexagon-txt {
    position: absolute;
    top: 0;
    left: 24.6%;
    margin-top: 3.65rem;
    width:52%;
    font-size: .3rem;
    line-height: .4rem;
    text-align: left;
    color:#373b3e;
    display: inline-block;
}
.page2 .page2-title {
    margin: 1rem auto 0;
    text-align: center;
    width:2.1rem;
    height:1.08rem;
    background: url("../img/page2-title.png?__inline") no-repeat 0 0;
    background-size: contain;
}
.page2 .people {
    margin-top: .39rem;
    width:100%;
    /*height: 2.75rem;*/
    text-align: center;
}
.page2 .people img {
    margin: 0 auto .3rem;
    height: 2.75rem;
}
.page2 .people .blue-txt {
    line-height: .46rem;
    font-size: .28rem;
    color:#00f9ff;
}
.page2 .radius-txt {
    margin: .5rem auto 0;
    padding: .15rem 0;
    width:90%;
    height: 1.35rem;
    background: rgba(0,0,0,.35);
    border-radius: .14rem;
}
.page2 .radius-txt-no {
    width:100%;
}
.page2 .radius-txt-no .leader-txt {
    margin: .3rem auto;
    width: 90%;
    display: block;
}
.page21 .radius-txt .people-radius-txt {
    padding: .09rem .2rem;
    font-size: .3rem;
    line-height: .42rem;
    color: #fff;
}
.page21 {
    width: 100%;
    height: 100%;
    background: url("../img/page21-bg.png?__inline");
    background-size: 100% 100%;
    overflow: hidden;
}
.page21 .page21-title {
    margin: 1rem auto 0;
    text-align: center;
    width:2.1rem;
    height:1.08rem;
    background: url("../img/page21-title.png?__inline") no-repeat 0 0;
    background-size: contain;
}
.page21 .people {
    margin-top: .39rem;
    width:100%;
    text-align: center;
}
.page21 .people img {
    margin: 0 auto .13rem;
    height: 2.75rem;
}
.page21 .people .blue-txt {
    line-height: .46rem;
    font-size: .28rem;
    color:#00f9ff;
}
.page21 .radius-txt {
    margin: .2rem auto 0;
    width:90%;
    background: rgba(0,0,0,.55);
    border-radius: .14rem;
}
.page21 .radius-txt .people-radius-txt {
    padding: .1rem .2rem;
    font-size: .3rem;
    line-height: .44rem;
    color: #fff;
}
.page3 .page3-title {
    margin: 1rem auto .4rem;
    text-align: center;
    width:2.1rem;
    height:1.08rem;
    background: url("../img/page3-title.png?__inline") no-repeat 0 0;
    background-size: contain;
}
.page3 .padding {
    margin: 0 auto;
    width:96%;
}
.page3 ul {
    list-style: none;
    width:90%;
    margin: 0 auto;
}
.page3 ul li {
    float: left;
    margin: .6rem 2.5% 0;
    width:45%;
    opacity: 0;
}
.current ul li {
    -webkit-animation: slideToOpacity 2.5s ease both;
    -moz-animation: slideToOpacity 2.5s ease both;
    -o-animation: slideToOpacity 2.5s ease both;
    animation: slideToOpacity 2.5s ease both;
}
.page3 ul li img {
    width:100%;
}
.page3 .third {
    margin: 0 auto;
    width:85.6%;
}
.page3 .third img {
    float: left;
    margin: .6rem 0 0;
    width:31.5%;
    opacity: 0;
}
.page3 .third .center-img {
    margin:.6rem 2.5% 0;
}
.current .third img{
    -webkit-animation: slideToOpacity 2.5s ease both;
    -moz-animation: slideToOpacity 2.5s ease both;
    -o-animation: slideToOpacity 2.5s ease both;
    animation: slideToOpacity 2.5s ease both;
 }

@-webkit-keyframes slideToOpacity {
    0%{
        opacity:0;
    }
    70% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes slideToOpacity {
    0%{
        opacity:0;
    }
    70% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}
@-ms-keyframes slideToOpacity {
    0%{
        opacity:0;
    }
    70% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}
@-o-keyframes slideToOpacity {
    0%{
        opacity:0;
    }
    70% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}
@keyframes slideToOpacity {
    0%{
        opacity:0;
    }
    70% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes light {
    0% {
        -webkit-filter: brightness(20%);
        filter: brightness(20%);
    }
    25% {
        -webkit-filter: brightness(20%);
        filter: brightness(20%);
    }
    40% {
        -webkit-filter: sepia(1) contrast(2) brightness(200%);
        filter: sepia(1) contrast(2) brightness(200%);
    }
    70% {
        -webkit-filter: brightness(20%);
        filter: brightness(20%);
    }
    96% {
        -webkit-filter: brightness(130%);
        filter: brightness(130%);
    }
}

@-moz-keyframes light {
    0% {
        -webkit-filter: brightness(20%);
        filter: brightness(20%);
    }
    25% {
        -webkit-filter: brightness(20%);
        filter: brightness(20%);
    }
    40% {
        -webkit-filter: sepia(1) contrast(2) brightness(200%);
        filter: sepia(1) contrast(2) brightness(200%);
    }
    70% {
        -webkit-filter: brightness(20%);
        filter: brightness(20%);
    }
    96% {
        -webkit-filter: brightness(130%);
        filter: brightness(130%);
    }
}

@-ms-keyframes light {
    0% {
        -webkit-filter: brightness(20%);
        filter: brightness(20%);
    }
    25% {
        -webkit-filter: brightness(20%);
        filter: brightness(20%);
    }
    40% {
        -webkit-filter: sepia(1) contrast(2) brightness(200%);
        filter: sepia(1) contrast(2) brightness(200%);
    }
    70% {
        -webkit-filter: brightness(20%);
        filter: brightness(20%);
    }
    96% {
        -webkit-filter: brightness(130%);
        filter: brightness(130%);
    }
}

@-o-keyframes light {
    0% {
        -webkit-filter: brightness(20%);
        filter: brightness(20%);
    }
    25% {
        -webkit-filter: brightness(20%);
        filter: brightness(20%);
    }
    40% {
        -webkit-filter: sepia(1) contrast(2) brightness(200%);
        filter: sepia(1) contrast(2) brightness(200%);
    }
    70% {
        -webkit-filter: brightness(20%);
        filter: brightness(20%);
    }
    96% {
        -webkit-filter: brightness(130%);
        filter: brightness(130%);
    }
}

@keyframes light {
    0% {
        -webkit-filter: brightness(20%);
        filter: brightness(20%);
    }
    25% {
        -webkit-filter: brightness(20%);
        filter: brightness(20%);
    }
    40% {
        -webkit-filter: sepia(1) contrast(2) brightness(200%);
        filter: sepia(1) contrast(2) brightness(200%);
    }
    70% {
        -webkit-filter: brightness(20%);
        filter: brightness(20%);
    }
    96% {
        -webkit-filter: brightness(130%);
        filter: brightness(130%);
    }
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.25,1.25,1.25);
        transform: scale3d(1.25,1.25,1.25);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-moz-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.25,1.25,1.25);
        transform: scale3d(1.25,1.25,1.25);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-ms-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.25,1.25,1.25);
        transform: scale3d(1.25,1.25,1.25);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-o-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.25,1.25,1.25);
        transform: scale3d(1.25,1.25,1.25);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.25,1.25,1.25);
        transform: scale3d(1.25,1.25,1.25);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes imgToScale {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
        -webkit-transform: scale(.1);
        transform: scale(.1);
    }
    90% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes imgToScale {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
        -webkit-transform: scale(.1);
        transform: scale(.1);
    }
    90% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 1;
    }
}
@-ms-keyframes imgToScale {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
        -webkit-transform: scale(.1);
        transform: scale(.1);
    }
    90% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes imgToScale {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
        -webkit-transform: scale(.1);
        transform: scale(.1);
    }
    90% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 1;
    }
}
@keyframes imgToScale {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
        -webkit-transform: scale(.1);
        transform: scale(.1);
    }
    90% {
        opacity: .8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 1;
    }
}
.title-top {
    margin-top:0.62rem;
}
.h3 {
    margin: 0 auto;
    width:85%;
    height:0.48rem;
    font-size: 0.32rem;
    opacity: 0;
}
.h3-txt {
    margin: 0 auto;
    width:85%;
    font-size:0.32rem;
    opacity: 0;
}
.h3-top {
    margin-top:0.37rem;
}
.h3-bottom {
    margin-bottom:0.17rem;
}
.colorC {
    text-decoration: none;
    width:90%;
    margin-left:0.52rem;
}
.invited{;
    margin:0.22rem auto;
    width:3.8rem;
    height:0.9rem;
    line-height:0.9rem;
    text-align:center;
    background:#27edf8;
    display:block;
    font-size:0.4rem;
    font-family:"微软雅黑";
    letter-spacing: 0.03rem;
    border:none;
    border-radius:0.20rem;
    font-weight:bold;
    opacity: 0;
}
.invited:hover,.invited:active,.invited:link,.invited:visited{
    text-decoration: none;
    color:#23272f;
}
.code-txt {
    margin: 0.3rem auto 0;
    width:90%;
    text-align: center;
    opacity: 0;
}
.code-txt .left-code-txt {
    margin: 0 5% 0.20rem;
    width:50%;
    font-size: .2rem;
    text-align: center;
}
.code-txt .left-code-txt .aline {
    margin: 0 2px;
    width: .263rem;
    height: .095rem;
    border-top: 2px solid #fff;
    display: inline-block;
}
.qrcode {
    margin: .12rem auto 0;
    width:90%;
    height:2.67rem;
    z-index: 11111111;
}
.qrcode img {
    margin: 0 auto;
    display: block;
    opacity: 0;
}
.current .qrcode img,.current .h3,.current .h3-txt,.current .code-txt {
    -webkit-animation: slideToOpacity 1.3s ease-in-out both;
    -moz-animation: slideToOpacity 1.3s ease-in-out both;
    -o-animation: slideToOpacity 1.3s ease-in-out both;
    animation: slideToOpacity 1.3s ease-in-out both;
}
.current .invited{
    -webkit-animation:invite 0.5s 4 .5s ease both,fadeIn 1s .6s ease both;
    animation:invite 0.5s 4 .5s ease both,fadeIn 1s .6s ease both;
    -o-animation:invite 0.5s 4 .5s ease both,fadeIn 1s .6s ease both;
    -ms-animation:invite 0.5s 4 .5s ease both,fadeIn 1s .6s ease both;
    -moz-animation:invite 0.5s 4 .5s ease both,fadeIn 1s .6s ease both;
}
.text-indent {
    text-indent: 2em;
}
@media (min-device-height:300px) and (max-device-height:520px){

    .page1 .hexagon img {
        margin: 0 auto;
        width: 56%;
    }
    .page1 .hexagon .hexagon-txt {
        left: 29%;
        margin-top: 3.05rem;
        width:44%;
        font-size: .24rem;
        line-height: .34rem;
    }
    .page2 .page2-title {
        margin: .55rem auto .2rem;
    }
    .page3 .page3-title {
        margin: .55rem auto .2rem;
    }
    .page3 ul {
        width:85%;
    }
    .page3 .third {
        width:81%;
    }
    .page3 ul li {
        margin: .32rem 2.5% 0;
    }
    .page3 .third img {
        margin: .32rem 0 0;
    }
    .page3 .third .center-img {
        margin:.32rem 2.5% 0;
    }
    .page4 .page4-content li {
        margin-bottom: .12rem;
    }
}