.wallet {
  width: 100%;
  height: 14.13333333rem;
  background: url("../images/bg-color.png") #ffcf60 no-repeat;
  background-size: contain;
  overflow: hidden;
}
.wallet .wallet-inner {
  width: 8.89333333rem;
  height: 7.4rem;
  margin: 5.84rem auto 0;
}
.wallet .wallet-inner a {
  display: block;
  text-align: center;
}
.wallet .wallet-inner .wallet-header img {
  display: block;
  width: 100%;
  height: 4.13333333rem;
}
.wallet .wallet-inner .wallet-btn {
  height: 3.34666667rem;
  position: relative;
}
.wallet .wallet-inner .wallet-btn img {
  width: 100%;
}
.wallet .wallet-inner .wallet-btn .register {
  position: absolute;
  top: 0.57333333rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  width: 8.13333333rem;
  height: 1.33333333rem;
  background-color: #fbda30;
  color: #e02e18;
  box-shadow: 0 5px 0.26666667rem #dd1b11;
  line-height: 1.33333333rem;
  font-size: 0.50666667rem;
  border-radius: 0.13333333rem;
}
.wallet .wallet-inner .wallet-btn .notRegister {
  position: absolute;
  top: 2.34666667rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  color: #6c0900;
  font-size: 0.32rem;
  text-decoration: underline;
}
.footer {
  background-color: #fff;
  text-align: center;
  padding: 0.4rem 0;
  color: #ff8a50;
  font-size: 0.32rem;
  width: 100%;
}
.footer p:first-child {
  background: url("../images/call_01.png") 1.73333333rem center no-repeat;
  background-size: 0.4rem 0.4rem;
  margin-bottom: 0.26666667rem;
}
.footer a {
  color: #ff8a50;
}
