body {
  margin: 0 auto;
  max-width: 10rem;
}
.clearfix,
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}
.clearfix:after {
  clear: both;
}
.member-level {
  width: 100%;
  background: #e3e3e3;
}
.member-level .padd-lf-rg {
  padding-left: 0.48rem;
  padding-right: 0.48rem;
}
.member-level .memberlevel-treasure {
  height: 3.46666667rem;
  background: -webkit-linear-gradient(to bottom, #f44336 0%, #ff772e 100%);
  background: -moz-linear-gradient(to bottom, #f44336 0%, #ff772e 100%);
  background: -ms-linear-gradient(to bottom, #f44336 0%, #ff772e 100%);
  background: -o-linear-gradient(to bottom, #f44336 0%, #ff772e 100%);
  background: linear-gradient(to bottom, #f44336 0%, #ff772e 100%);
}
.member-level .memberlevel-treasure .treasure-title {
  height: 0.90666667rem;
  line-height: 0.90666667rem;
  font-size: 0.34666667rem;
  font-weight: normal;
  color: #fff;
}
.member-level .memberlevel-treasure .memberlevel-vip {
  padding-top: .25rem;
}
.member-level .memberlevel-treasure .memberlevel-vip .vip-ul {
  width: 100%;
}
.member-level .memberlevel-treasure .memberlevel-vip .vip-ul .vip {
  width: 1.01333333rem;
  height: 0.66666667rem;
  border-radius: 0.26666667rem;
}
.member-level .memberlevel-treasure .memberlevel-vip .vip-ul .vip-main {
  width: 1.01333333rem;
  height: 0.66666667rem;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
  /* Safari */
  -moz-box-sizing: border-box;
  /* Firefox */
  box-sizing: border-box;
  background: #fff;
}
.member-level .memberlevel-treasure .memberlevel-vip .vip-ul .vip-other {
  width: 1.01333333rem;
  height: 0.66666667rem;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
  /* Safari */
  -moz-box-sizing: border-box;
  /* Firefox */
  box-sizing: border-box;
}
.member-level .memberlevel-treasure .memberlevel-vip .vip-ul .line {
  margin: 0.32rem 0 0 0;
  width: 1.57333333rem;
  height: 2px;
  background: #fff;
}
.member-level .memberlevel-treasure .memberlevel-vip .vip-ul .vip img {
  width: 100%;
}
.member-level .memberlevel-treasure .memberlevel-vip .vip-ul .vertical-line {
  margin: 0.05333333rem 0 0.05333333rem 92.5%;
  width: 2px;
  height: 0.4rem;
  background: #fff;
}
.member-level .memberlevel-treasure .memberlevel-vip .vip-ul .marg-rg {
  margin-right: 0.24rem !important;
}
.member-level .membellevel-prerogative {
  width: 100%;
  margin-bottom: 0.26666667rem;
  background: #fff;
}
.member-level .membellevel-prerogative .treasure-title {
  position: relative;
  padding-left: 0.48rem;
  line-height: 1.17333333rem;
  font-size: 0.34666667rem;
  font-weight: normal;
  color: #666;
}
.member-level .membellevel-prerogative .a-blue-membel {
  position: absolute;
  right: 0.4rem;
  top: 0;
  font-size: 0.34666667rem;
  color: #0080ff;
  display: inline-block;
  cursor: pointer;
}
.member-level .memberlevel-obtain {
  padding-left: 0.48rem;
  background: #fff;
}
.member-level .memberlevel-obtain .treasure-title {
  position: relative;
  padding-top: 0.29333333rem;
  line-height: 0.69333333rem;
  font-size: 0.42666667rem;
  font-weight: normal;
  color: #666;
}
.member-level .memberlevel-obtain .a-blue-membel {
  position: absolute;
  right: 0.4rem;
  top: 0.29333333rem;
  font-size: 0.34666667rem;
  color: #0080ff;
  display: inline-block;
  cursor: pointer;
}
.member-level .memberlevel-prerogative {
  width: 100%;
  background: #fff;
}
.member-level .memberlevel-prerogative .prerogative {
  padding: 0.53333333rem 0;
  width: 50%;
  height: 3.65333333rem;
  text-align: center;
  border: 1px solid #e3e3e3;
  border-left: none;
  border-bottom: none;
  -webkit-box-sizing: border-box;
  /* Safari */
  -moz-box-sizing: border-box;
  /* Firefox */
  box-sizing: border-box;
  background: #fff;
}
.member-level .memberlevel-prerogative .prerogative img {
  width: 0.50666667rem;
  height: 0.53333333rem;
}
.member-level .memberlevel-prerogative .prerogative .prerogative-title {
  margin: 0.26666667rem auto;
  height: 0.42666667rem;
  line-height: 0.42666667rem;
  font-size: 0.42666667rem;
  font-weight: normal;
  color: #333;
}
.member-level .memberlevel-prerogative .prerogative .details {
  width: 100%;
  margin: 0 auto;
  max-width: 95%;
  line-height: 0.58666667rem;
  font-size: 0.34666667rem;
  color: #888;
}
.member-level .memberlevel-prerogative .rg-prerogative {
  border-right: none;
}
