/*
Error: Invalid GBK character "\xEF"
        on line 48 of D:/work/master/sassTransform/sass/sass/base.scss

43:     text-align:right;
44: }
45: .text-align-ct {
46:     text-align:center;
47: }
48: /* 1px �ױ߿� *\/
49: .border-bottom {
50:     border-bottom: 1px solid #d9dce4;
51: }
52: .border-bottom1 {
53:     border-bottom: 1px solid #eaeaea;

Backtrace:
D:/work/master/sassTransform/sass/sass/base.scss:48
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/util.rb:1300:in `rescue in block in find_encoding_error'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/util.rb:1297:in `block in find_encoding_error'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/util.rb:1296:in `each'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/util.rb:1296:in `each_with_index'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/util.rb:1296:in `find_encoding_error'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/util.rb:905:in `check_sass_encoding'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/engine.rb:436:in `check_encoding!'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/engine.rb:392:in `_to_tree'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
C:/RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.23/bin/scss:13:in `<top (required)>'
C:/RailsInstaller/Ruby2.2.0/bin/scss:23:in `load'
C:/RailsInstaller/Ruby2.2.0/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xEF\"\A         on line 48 of D:/work/master/sassTransform/sass/sass/base.scss\A \A 43:     text-align:right;\A 44: }\A 45: .text-align-ct {\A 46:     text-align:center;\A 47: }\A 48: /* 1px �ױ߿� */\A 49: .border-bottom {\A 50:     border-bottom: 1px solid #d9dce4;\A 51: }\A 52: .border-bottom1 {\A 53:     border-bottom: 1px solid #eaeaea;"; }
